/* utilities */
:root {
  --aqua: #7FDBFF;
  --black: #111;
  --blue: #0074D9;
  --fuschsia: #F012BE;
  --green: #2ECC40;
  --lime: #01FF70;
  --maroon: #85144B;
  --navy: #001F3F;
  --olive: #3D9970;
  --orange: #FF851B;
  --purple: #B10DC9;
  --red: #FF4136;
  --silver: #ddd;
  --gray: #aaa;
  --darkgray: #8b8b8b;
  --teal: #39CCCC;
  --white: #fff;
  --yellow: #FFDC00;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--black);
  background-color: var(--silver);
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.get-started-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.33333333;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 16px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--gray);
  border-color: var(--gray);
  max-width: auto;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

/* navbar */
nav {
  height: 70px;
  transition: all 1s ease; 
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left: 0;
  background-color: var(--white);
  color: var(--black);

  .container {
    max-width: 800px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .fluid-container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  a {
    color: var(--black);
    text-align: left;
    text-decoration: none;
    font-weight: 900;

    &.logo {
      margin-right: auto;
    }

    &:hover {
      color: var(--silver);
    }
  }
}

/* header */
header {
  background-color: var(--white);
  margin-top: 0px;
  padding: 100px 0 100px 0;

  .container {
    max-width: 800px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .splash-tagline {
    text-align: left;
    margin-bottom: 1.5rem;
    line-height: 3rem;
    font-weight: 100;
  }

  .splash-valueprop {
    text-align: left;
    margin-bottom: 3rem;
    line-height: 1.75rem;
  }

  input, select {
    margin-bottom: 1rem;
    width: 256px;
  }

  input[type='checkbox'] {
    width: auto;
  }

  #form-submit-button {
    width: 256px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 8px 10px 12px;
    line-height: 36px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0;
    border: 0px;
    background-color: white;
    color: #000000;
    margin: 0 auto;
  }
}

/* hodl-alternative section */
#hodl-alternative {
  background-color: var(--gray);
  color: var(--white);
  padding: 100px 0;

  .container {
    max-width: 650px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    line-height: 2.25rem;
  }

  p {
    margin: 2rem auto;
    line-height: 1.75rem;
  }

  a {
    color: var(--white);
  }
}

/* social-proof section */
#social-proof {
  background-color: var(--black);
  color: var(--white);
  padding: 100px 0;

  .container {
    max-width: 650px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    line-height: 2.25rem;
  }

  p {
    margin: 2rem auto;
    line-height: 1.75rem;
  }

  li {
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
  }
}

/* call-to-action section */
#call-to-action {
  background-color: var(--white);
  color: var(--black);
  padding: 100px 0;

  .container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .title {
    text-align: center;
    line-height: 2.25rem;
    margin-bottom: 3rem;
  }

  .subtitle {
    text-align: center;
  }

  p {
    margin: 2rem auto 4rem auto;
    line-height: 1.75rem;
  }

  .get-started-button {
    display: inline-block;
    margin: 0 auto;
  }
}

/* footer */
footer {
  background-color: var(--black);
  color: var(--gray);
  padding: 100px 0;

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .title {
    text-align: left;
    line-height: 2.25rem;
    margin-bottom: 3rem;
  }

  .subtitle {
    text-align: left;
  }

  .footer-lead {
    text-align: center;
  }

  p {
    margin: 2rem auto 4rem auto;
    line-height: 1.75rem;
  }

  .last {
    margin-bottom: 0;
  }

  hr {
    border-color: var(--gray);
  }

  a {
    color: var(--gray);
  }
}

/* app-form */
#app-form {
  background-color: var(--gray);
  color: var(--black);
  margin-top: 70px;
  padding: 50px 0 150px 0;
  z-index: 2;

  .container {
    background-color: var(--white);
    padding: 1rem;
    max-width: 90%;
    margin: 0 auto;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .form-box {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-right: 1px dotted black;
    border-left: 1px dotted black;
  }

  form select {
    width: auto;
  }

  form label {
    margin-bottom: 1rem;
  }

  button {
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.33333333;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 16px;
    font-size: 19px;
    line-height: 1.33;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--gray);
    border-color: var(--gray);
    max-width: 300px;
  }

  button.starter-strategy-button {
    background-color: inherit;
    color: var(--gray);
  }
}

/* app-form */
#app-results {
  background-color: transparent;
  color: var(--black);
  padding: 0px 0 0px 0;
  z-index: 1;

  .container {
    background-color: transparent;
    max-width: 90%;
    padding: 0 0px;
    margin: -100px auto 0 auto;
  }

  h3 {
    margin: 0;
  }

  .results-card {
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}


@media only screen and (min-width: 768px) {
  #app-form form {
    flex-direction: row;
  }
}

